/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 *{
   margin: 0px;
   padding: 0px;
 }


 header a{
   color: #ffe1e0;
 }

 header{
   width: 100vw;
   background: #f0823d;
   height: 70px;
   line-height: 70px;
   text-align: center;
   display: flex;
   align-items: center;
   justify-content: space-between;
 }

 .logo{
   color: #ffe1e0;
   font-size: 18px;
   font-weight: bold;
   text-decoration: underline;
   margin-left: 20px;
   border: 4px solid #ffe1e0;
   height: 40px;
   line-height: 40px;
   width: 70px;

 }
 .menu{
   display: flex;
   justify-content: space-around;
   height: 70px;
   font-size: 16px;
   font-weight: bold;
   margin-right: 20px;
   list-style: none;
 }
 .menu li{
   padding:  0 7px;
 }

 body{
   background-color: #F8E0DE;
 }

.flash{
  color: white;
  background: #FF3366;
  text-align: center;
  height: 70px;
  line-height: 70px;
  text-align: center;
}

a{
  text-decoration: none;
}

@media screen and (max-width: 480px) {
	/* スマホ用 */
  header a{
    font-size: 10px;
  }
}
